<div class="container mt-4">
  <h2 class="mb-3">🔐 Personal Password Manager</h2>
  <div *ngIf="notificationMessage" class="alert" 
     [ngClass]="{
       'alert-success': notificationType === 'success',
       'alert-danger': notificationType === 'error'
     }" 
     role="alert">
  {{ notificationMessage }}
</div>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>App</th>
        <th>Category</th>
        <th>Username</th>
        <th>Password</th>
        <th style="width: 180px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Password Rows -->
      <tr *ngFor="let item of passwords">
        <!-- Edit Mode -->
        <ng-container *ngIf="editId === item.id; else viewRow">
          <td><input [(ngModel)]="item.app" class="form-control" /></td>
          <td><input [(ngModel)]="item.category" class="form-control" /></td>
          <td><input [(ngModel)]="item.userName" class="form-control" /></td>
          <td><input [(ngModel)]="decryptedPassword" class="form-control" placeholder="Password" /></td>
          <td>
            <button class="btn btn-success btn-sm me-1" (click)="save(item)">💾</button>
            <button class="btn btn-secondary btn-sm" (click)="cancelEdit()">❌</button>
          </td>
        </ng-container>

        <!-- View Mode -->
        <ng-template #viewRow>
          <td class="form-control" >{{ item.app }}</td>
          <td class="form-control" >{{ item.category }}</td>
          <td class="form-control" >{{ item.userName }}</td>
          <td>
            <span *ngIf="decryptedId === item.id">{{ decryptedPassword }}</span>
            <span *ngIf="decryptedId !== item.id">••••••</span>
          </td>
          <td>
            <button class="btn btn-outline-info btn-sm me-1" (click)="decrypt(item)">👁</button>
            <button class="btn btn-outline-warning btn-sm me-1" (click)="edit(item)">🔑</button>
            <button class="btn btn-outline-danger btn-sm" (click)="delete(item)">🗑</button>
          </td>
        </ng-template>
      </tr>

      <!-- Add New Row -->
      <tr *ngIf="addMode">
        <td><input [(ngModel)]="newPassword.app" class="form-control" /></td>
        <td><input [(ngModel)]="newPassword.category" class="form-control" /></td>
        <td><input [(ngModel)]="newPassword.userName" class="form-control" /></td>
        <td><input [(ngModel)]="newPassword.plainPassword" class="form-control" placeholder="Password" /></td>
        <td>
          <button class="btn btn-success btn-sm me-1" (click)="saveNewPassword()">💾</button>
          <button class="btn btn-secondary btn-sm" (click)="cancelAdd()">❌</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Add Button -->
  <button class="btn btn-primary" *ngIf="!addMode" (click)="addNewRow()">➕ Add Password</button>
</div>
